# byte-compiled files
*/__pycache__/
*.pyc

# Setuptools data
/dist/
/*.egg-info

# macOS binary records
.DS_Store

# PyCharm files
/.idea/

# API keys
/resources/APIKEY
/resources/TVDBKEY

# Local JSON data (testing)
/local_data/*

# Logs
*.log
*/*.log

# Bokeh plot scripts (web artifact)
/app/bokehscripts/**

# Database stuff
*.db
